.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}

.add-form {
    margin-top: 20px;
}

.add-form input {
    width: 350px;
    margin-right: 20px;
}

.fa-solid.fa-person,
.fa-solid.fa-person-dress {
    transition: .2s ease;
}

.fa-solid.fa-person:hover,
.fa-solid.fa-person-dress:hover {
    color:#cbd8e84f !important ;
    transition: .2s ease;

}